
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#Head{
    top: 0;
    position: sticky;
    z-index: 3;
}
.outlet{
    height: 100vh;
}
/*===============================================================HEADER============================================================================*/
#header{
    height: 60px;
    background-color: dodgerblue;
}
/*===============================================================NAVBAR============================================================================*/
.me-auto{
   margin-left: 50%;
   font-weight: bold;
   
}

/*===============================================================FOOTER============================================================================*/

  .content {
      flex: 1;
      padding: 20px;
    }

    footer {
      height:300px;
    background-color: dodgerblue;
      padding: 20px;
      text-align: center;
      font-size: 14px;
      color: #444;
      border-top: 1px solid #ddd;
      display: flex;
      
    }

    .footer-links {
      margin-bottom: 10px;
    }

    .footer-links a {
      margin: 0 10px;
      color: #0066cc;
      text-decoration: none;
    }

    .footer-links a:hover {
      text-decoration: underline;
    }

    .footer-contact {
      margin-bottom: 10px;
    }

