
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*===============================================================HEADER============================================================================*/
#header{
    height: 60px;
    background-color: dodgerblue;
}


/*===============================================================FOOTER============================================================================*/
#header{
    height:300px;
    background-color: dodgerblue;
}

