
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*======================================================INSERT PAGE=================================================================*/
#form{
    margin-left: 32%;
    width: 450px;
    margin-top: 30px;
}