
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.h33{
    margin-top: 20px;
    text-align: center;
}
/*======================================================INSERT PAGE=================================================================*/
#form{
    margin-left: 32%;
    width: 450px;
    margin-top: 30px;
}
/*======================================================DISPLAY PAGE=================================================================*/
#tbl{
    margin-top: 20px;
}
/* #tbl tr th{
   background-color: rgb(1, 25, 49);
   color: aliceblue;
} */